*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

header img.bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;

}

nav {
    z-index: 10;
}

main {
    margin-top: 50px;
}

#img1{
    display: block;
}
.inicio{
    margin-top: -200px;
}

body{
    font-size: 100%;

}
