* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: black;
   
}

footer img {
    width: 250px;
}

nav{
color: #ffffff;

}

nav img1{
margin-left: 10px;
}
